$dark: #313B4C;
$shadow: 0px 2px 5px rgba(0, 0, 0, 0.6);
$raisedShadow: 0px 0px 9px rgba(0, 0, 0, 0.4);
$aniDur: .4s;   //animation duration
$active: #4BA7F9; // :hover buttons and active nav pills
$green: #1ECD97;


@mixin transition($transition...) {
  -moz-transition:    $transition;
  -o-transition:      $transition;
  -webkit-transition: $transition;
  transition:         $transition;
}
@mixin transform($value) {
  -webkit-transform:$value;
  -moz-transform: $value;
  -o-transform: $value;
  transform: $value;
}
