[v-cloak] {
  display: none;
}

body {
  font-size: 14px;
  color: #444;
  font-family: 'Oxygen', sans-serif;
  font-size: 16px;
}

nav.navbar {
  border-radius: 0;
  background-color: #313B4C;
  padding-top: 14px;
  padding-bottom: 15px;
  margin-bottom: 0;
}

nav.navbar .navbar-brand {
  color: #fff;
  font-size: 35px;
}

nav.navbar ul {
  font-size: 15px;
  padding-top: 6px;
}

nav.navbar ul li {
  margin-left: 16px;
}

nav.navbar ul li a {
  transition: background-color 0.4s, color 0.4s;
}

nav.navbar ul li.active a {
  background-color: #4BA7F9;
}

nav.navbar ul li:not(.active) a {
  color: #fff;
}

nav.navbar ul li:not(.active) a:hover {
  color: #333;
}

@media (max-width: 660px) {
  .navbar-brand {
    width: 100%;
    text-align: center;
  }

  .nav-pills {
    width: 100%;
    text-align: center;
  }

  .nav-pills > li {
    display: inline-block;
    float: none;
    padding-top: 12px;
  }

  .nav-pills > li:nth-child(1) {
    margin-left: 0;
  }
}

@media (max-width: 660px) {
  nav.navbar ul > li {
    font-size: 12px;
  }
}

@media (max-width: 450px) {
  nav.navbar ul > li {
    font-size: 11px;
    margin-left: 0;
  }
}

article {
  width: 90%;
  max-width: 750px;
  margin: 0 auto;
}

article p {
  font-size: 22px;
  line-height: 41px;
}

article p a {
  text-decoration: underline;
}

nav,
h1,
h2,
h3,
h4,
h5,
.btn {
  text-align: center;
  margin: 0;
}

@media (max-width: 768px) {
  div.text-center-xs {
    text-align: center;
  }

  div.text-center-xs svg {
    height: 65px;
    margin-bottom: 25px;
  }
}

h1 {
  font-size: 50px;
  line-height: 1.19em;
  padding: 4px 0 49px;
}

@media screen and (max-width: 700px) {
  html {
    font-size: 1.3em;
  }

  h1 {
    font-size: 1.7em;
    line-height: 1.3em;
    padding-bottom: 1em;
  }
}

h2 {
  font-size: 45px;
  padding: 10px 0 40px;
  color: #701818;
}

.jumbotron {
  padding: 65px 0;
  background-size: cover;
  box-shadow: 0 0 2px #000 inset;
}

.jumbotron h1 {
  color: #fff;
  text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.6);
}

.case {
  background-image: url("/images/case.jpg");
}

.lead-in {
  background: #313B4C;
}

@media (max-width: 767px) {
  .lead-in .btn {
    clear: both;
    display: block;
    float: none;
    margin: 0 auto;
  }
}

.btn {
  border-radius: 50px;
  transition: box-shadow 0.4s, top 0.4s, background-color 0.4s, color 0.4s;
}

.btn.btn-lg {
  font-size: 20px;
  padding: 15px 36px;
}

.btn.btn-md {
  font-size: 16px;
  padding: 15px 36px;
}

.btn.white {
  top: -3px;
  position: relative;
}

.btn.white:not(:hover) {
  top: 0;
  background-color: #fff;
  color: #6280AD;
  box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.4);
}

.btn.white:hover {
  background-color: #4BA7F9;
  cursor: pointer;
  color: #fff;
}

.nav-tabs a {
  cursor: pointer;
}

.nav-tabs a .tab-buttons {
  border-bottom: 1px solid #007095;
  margin: 35px auto 65px;
}

.nav-tabs a .tab-buttons .button {
  margin: 0 2px 0 0;
}

.nav-tabs a .tab-buttons .button:not(.secondary) {
  padding-bottom: 19px;
}

@media (max-width: 767px) {
  .tab-content {
    padding-top: 5px;
  }

  .tab-content .company-logo {
    margin-bottom: 30px;
  }
}

@media (min-width: 767px) {
  .tab-content {
    padding-top: 35px;
  }

  .tab-content:not(.active) {
    display: none;
  }
}

.tab-content .job-header {
  margin-bottom: 26px;
  padding: 25px 0;
  min-height: 150px;
  overflow: auto;
}

.job-header {
  height: auto;
}

.job-header > div {
  height: 50px;
}

.job-header .role {
  font-size: 31px;
  line-height: 25px;
  padding-top: 28px;
  height: auto;
}

.job-header .dates {
  font-size: 15px;
  color: #6b6b6b;
  display: inline-block;
  float: none;
  clear: both;
}

.job-header .at-sign {
  font-size: 5em;
  color: #6b6b6b;
}

.job-header .company-logo svg,
.job-header .company-logo img {
  position: relative;
}

.job-header .subtext {
  height: 25px;
  font-weight: bold;
}

.controls {
  padding: 75px 0 0;
}

input.invalid {
  border-color: #900;
  background-color: #f2dede;
}

.submit-btn {
  width: 150px;
  transition: width 1s, background-color 1s;
}

.submit-btn.pending {
  width: 150px;
}

.submit-btn.sending,
.submit-btn.sent {
  width: 100px;
}

.btn.sent {
  background-color: #1ECD97;
  border-color: #1ECD97;
}

.alert-success {
  background-color: #d4fcef;
  border-color: #1ECD97;
  color: #1ECD97;
  font-weight: bold;
}

.btn:hover,
.btn:focus,
.btn:active,
nav.navbar ul li:hover,
nav.navbar ul li:focus,
nav.navbar ul li:active,
nav.navbar ul li a:hover,
nav.navbar ul li a:focus,
nav.navbar ul li a:active {
  outline: none;
}

.skill {
  clear: none;
  color: #333;
  float: left;
  font-size: 18px;
  line-height: 40px;
  padding: 25px;
  width: 20%;
}

.skill img {
  width: 75%;
}

@media (max-width: 767px) {
  .skill {
    width: 33.333%;
  }
}

html section .row article {
  font-size: 1em;
}

section {
  padding: 100px 0;
}

.skills li img {
  margin: 20px 0 15px;
}

check {
  background-color: #003f54;
  border-radius: 50px;
  width: 25px;
  height: 25px;
  display: inline-block;
  float: none;
  position: relative;
  transition: none;
}

check:after {
  width: 20px;
  height: 10px;
  background-color: #fff;
  border-radius: 3px;
  -webkit-transform: rotate(-40deg);
  transform: rotate(-40deg);
  top: 10px;
  left: 3px;
}