@import '../inc/vars';

h1 {
  font-size: 50px;
  line-height: 1.19em;
  padding: 4px 0 49px;
}

@media screen and (max-width: 700px) {
  html {
    font-size: 1.3em;
  }
  h1 {
    font-size: 1.7em;
    line-height: 1.3em;
    padding-bottom: 1em;
  }
}

h2 {
  font-size: 45px;
  padding: 10px 0 40px;
  color: #701818;
}