.jumbotron {
  padding: 65px 0;
  background-size: cover;
  box-shadow: 0 0 2px #000 inset;
  background-color:#333;
  h1 {
    color: #fff;
    text-shadow: $shadow;
  }
}
.case {
  background-image: url('/images/case.jpg')
}